[access]
	inheritFrom = All-Users
[project]
	description = Parent project for plugins/*
[access "refs/heads/*"]
	create = group Project Owners
	push = group Project Owners
	label-Code-Review = -2..+2 group google/chrome-th@googleproductforums.com
	label-Code-Review = +1..+2 group Project Owners
	label-Verified = +1..+1 group Change Owner
	label-Verified = -1..+1 group Project Owners
	label-Verified = -1..+1 group google/chrome-th@googleproductforums.com
	label-Verified = +0..+1 group gerrit-verifiers
	submit = group Project Owners
	exclusiveGroupPermissions = label-Code-Review label-Verified
[access "refs/tags/*"]
	pushTag = group Project Owners
	pushTag = group google/chrome-th@googleproductforums.com
	exclusiveGroupPermissions = pushTag
[access "refs/*"]
	exclusiveGroupPermissions = forgeAuthor
	forgeAuthor = group google/chrome-th@googleproductforums.com
[receive]
	requireContributorAgreement = true
	requireSignedOffBy = false
	requireChangeId = true
[submit]
	mergeContent = true
[allowSuperproject "gerrit"]
	refs = refs/heads/*:refs/heads/*
[access "refs/meta/config"]
	exclusiveGroupPermissions = push pushMerge
	push = group Registered Users
	pushMerge = group Registered Users
	pushMerge = group google/chrome-th@googleproductforums.com
