[access]
	inheritFrom = Public-Projects
[project]
	description = Parent project for plugins/*
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Project Owners
[receive]
	requireContributorAgreement = true
	requireSignedOffBy = false
	requireChangeId = true
[submit]
	mergeContent = true
[allowSuperproject "gerrit"]
	matching = refs/heads/*:refs/heads/*
