[access]
	inheritFrom = Public-Projects
[project]
	description = Parent project for plugins/*
[access "refs/heads/*"]
	create = group Project Owners
	push = group Project Owners
	label-Code-Review = -2..+2 group Project Owners
	label-Verified = -1..+1 group Change Owner
	label-Verified = -1..+1 group Project Owners
	label-Verified = -1..+1 group gerrit-verifiers
	submit = group Project Owners
[access "refs/tags/*"]
	createTag = group Project Owners
	createTag = group gerrit-release-creators
	createSignedTag = group Project Owners
	createSignedTag = group gerrit-release-creators
[access "refs/*"]
	owner = group google/gerritcodereview-maintainers@googlegroups.com
[receive]
	requireContributorAgreement = true
	requireSignedOffBy = false
	requireChangeId = true
[submit]
	mergeContent = true
[access "refs/for/refs/meta/config"]
	push = group Registered Users
	pushMerge = group Registered Users
[allowSuperproject "gerrit"]
	matching = refs/heads/*:refs/heads/*
